/* src/components/Contact.css */
.contact_us_container {
  width: 1440px;
  height: 439px;
  position: relative;
  top: -110px; /* Rasmni tepaga ko'tarish uchun */
  z-index: 5;
  background-image: url("images/about-movie-bg-1.jpg");
  background-attachment: fixed;
  width: 100%;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 0;
}

.contact_us_container::before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  height: 539px;
  background-image: linear-gradient(
    180deg,
    #00000069 0%,
    var(--global-color-astglobalcolor7) 100%
  );
}

.contact_map {
  max-width: 1520px;
  height: 450px;
  position: relative;
  top: -110px;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  font-family: "Racing Sans One", cursive;
  margin: 10px 0;
}

p {
  font-size: 16px;
  color: #fff;
}
.contact-icon {
  font-size: 50px;
  color: #e63946;
}

/* src/components/ContactForm.css */
/* Contact.css */

.contact-container {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  background: #f7f7f7;
}

.contact-form {
  background: #fff;
  padding: 59px 60px 60px 60px;
  width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  font-family: "Racing Sans One", cursive;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.name-fields {
  display: flex;
  gap: 10px;
}

.name-fields input {
  width: calc(50% - 5px);
  padding: 10px;
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form textarea {
  height: 150px;
}

.contact-form button {
  padding: 15px 25px;
  width: 168px;
  height: 46px;
  background: #e63946;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.contact-form button:hover {
  background: #d62828;
}

.contact-details {
  max-width: 300px;
}

.contact-details h2 {
  font-family: "Racing Sans One", cursive;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.contact-details p {
  margin-bottom: 20px;
}

.contact-details p strong {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

textarea {
  height: 150px;
  resize: vertical;
}

button {
  padding: 15px 25px;
  width: 168px;
  height: 46px;
  background-color: #e63946;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
}

button:hover {
  // background-color: #95232e;
  border: 1px solid transparent;
}
/* Contact.css */

.contact_container {
  display: flex;
  max-width: 1500px;
  width: 100%;
  position: relative;
  gap: 80px;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid red;
  padding: 40px;
  // height: 600px;
  margin-top: 150px;

  background: #f7f7f7;
}

.contact_form {
  position: relative;
  top: -150px;
  max-width: 1520px;
  left: -100px;
  background: #fff;
  padding: 59px 60px 60px 60px;
  width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact_form h2 {
  font-family: "Racing Sans One", cursive;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 20px;
}

.contact_form form {
  display: flex;
  flex-direction: column;
}

.name_fields {
  display: flex;
  gap: 10px;
}

.name_fields input {
  width: calc(50% - 5px);
  padding: 10px;
  margin-bottom: 20px;
}

.contact_form input,
.contact_form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact_form textarea {
  height: 150px;
}

.contact_form button {
  padding: 15px 25px;
  width: 168px;
  height: 46px;
  background: #e63946;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.contact_form button:hover {
  background: #d62828;
}

.contact_details {
  max-width: 300px;
}

.contact_details h2 {
  font-family: "Racing Sans One", cursive;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.contact_details p {
  margin-bottom: 20px;
  color: #00000069;
}

.contact_details p strong {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}
